<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreditServiceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <CreditServiceTest.Properties.Settings>
            <setting name="CreditServiceTest_CreditService_CreditWebService"
                serializeAs="String">
                <value>http://localhost:11524/CreditWebService.asmx</value>
            </setting>
        </CreditServiceTest.Properties.Settings>
    </applicationSettings>
</configuration>