@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
    font-family: "San Francisco";
    font-weight: bold;
    src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff);
}

* {
    margin: 0;
    padding: 0;
}

.user_list_container {
    background: linear-gradient(180deg, #0F1016 0%, #1C1D2B 100%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(180deg, #1D1D1D 0, #24263D 100%);
    color: white;
    font-family: 'San Francisco';
    min-height: 100vh;
}

.link {
    color: #03a9f4;
}

.game_library {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input_list {
}


.game_list {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.game {
    align-items: center;
    background: linear-gradient(180deg, #0F1016 0, #1C1D2B 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    transition: all .3s;
    flex-direction: column;
    height: 16rem;
    justify-content: space-between;
    width: 16rem;
}

    .game:hover {
        transform: scale(1.1);
        box-shadow: 0 12px 12px rgba(0,0,0,0.4);
        background: linear-gradient(180deg,#1C1D2B 0, #767FD1 100%);
    }

.big-button {
    background: linear-gradient(180deg, rgba(109, 216, 92, 0.78) 0%, rgba(70, 255, 133, 0.79) 100%);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 2rem;
    outline: none;
    padding: 2rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

    .gallery > span {
        margin: .2rem;
        width: 40%;
    }

.gallery_image {
    width: 100%;
}

.game_caption {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.empty_temp {
    font-size: .8rem;
    color: #eee;
    margin: 1rem;
}

.game_genres {
    font-weight: normal;
}


.game_bottom {
    bottom: 0;
    display: flex;
    height: 10%;
    justify-content: space-between;
    width: 100%;
}

a {
    padding: 0.2rem;
    text-decoration: none;
    transition: all .3s ease;
    color: white;
}

    a:hover {
        color: white;
        /*text-shadow: rgba(255, 211, 0, 0.70) 0 0 .5rem;*/
    }

.game_title {
    text-align: center;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}

.game_image {
    height: 60%;
    object-fit: cover;
    width: 100%;
}

.game_company {
    color: rgba(192, 197, 255, 0.47);
    margin-right: 10px;
}

.game_buy {
    background: linear-gradient(142.56deg, #5BDB2F 20.35%, #3DD64D 80.31%);
    border: none;
    color: white;
    padding: 5px;
}

.dev {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.dev_banner {
    height: 30vh;
    object-fit: cover;
    width: 100%;
}

.dev_icon {
    border-radius: 10000px;
    margin-top: -5%;
    width: 10rem;
}

.dev_name {
    color: white;
    font-size: 30px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.dev_info {
    align-items: center;
    display: flex;
    margin-left: -50%;
}


.gamepage {
}

.gamepage_banner {
    align-items: center;
    background-size: cover;
    border: none;
    display: flex;
    font-size: 3rem;
    height: 30vh;
    justify-content: center;
    width: 100%;
}

.gamepage_icon {
    border-radius: 10000px;
    margin-top: -5%;
    width: 10rem;
}

.gamepage_name {
    color: white;
    font-size: 3rem;
    font-weight: 100;
    margin-left: 2rem;
    margin-right: 2rem;
}

.gamepage_info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}


.profile_name {
    color: white;
    font-size: 30px;
}

.profile_data {
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
}

.profile {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.profile_banner {
    height: 30vh;
    object-fit: cover;
    width: 100%;
}

.profile_icon {
    border-radius: 10000px;
    margin-top: -5%;
    width: 10rem;
}

.profile_info {
    align-items: center;
    display: flex;
    margin-left: -50%;
}

.found_games {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.list_footer {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_footer > * {
    margin: .4rem;
}

.found-game {
    width: 100%;
    padding: .8rem;
    display: flex;
    align-items: center;

    transition: all .1s;
    flex-direction: row;
}

.found-game:hover {
    color: black;
    background-color: white;
}

.found-game:hover > .found-game_name {
    color: black;
}

.found-game_name {
    margin: .5rem;
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

.found-game-image {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}

.login_page {
    height: 100vh;
    width: 100%;
    display: flex;
}

.login_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.login_header {
    font-size: 3rem;
}

.login_header_sub {
    font-size: 1.5rem;
    margin-left: 3rem;
}

.login_top {
    color: #571A1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    flex-grow: 1;
}

.login_image-img {
    background-size: cover;
    width: 100%;
}

.login_side {
    position: relative;
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    flex-direction: column;
    flex-grow: 1;
    background: linear-gradient(139.25deg, rgba(255, 46, 0, 0.51) 4.98%, #FF1E61 70.62%), #E05757;
    height: 100%;
}


.login_main {
    flex-grow: 5;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.button_blue {
    border: none;
    padding: .5rem;
    background: linear-gradient(113.98deg, #7BA8FF -25.89%, #48C8FF 131.45%);
    background-color: #48C8FF;
    border-radius: 11px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: all .3s;
    text-align: center;
}

.button_blue:hover {
    background: white;
    color: #48C8FF;
}



.button {
    border: none;
    padding: .5rem;
    background: linear-gradient(131.81deg, #FF2E00 7.1%, #FF1E61 122.94%);
    background-color: #FF2E00;
        border-radius: 11px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: all .3s;
    text-align: center;
}

    .button:hover {
        background: white;
        color: #FF2E00;
    }


.button_table > * {
    border: none;
    padding: .5rem;
    background: linear-gradient(131.81deg, #FF2E00 7.1%, #FF1E61 122.94%);
    background-color: #FF2E00;
    border-radius: 11px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: all .3s;
    text-align: center;
}

.button_table > *:hover {
    background: white;
    color: #FF2E00;
}


.button a {
    color: white;
}



.activities {
    background: #0F1017;
    display: inline-block;
    min-height: 10vh;
    color: black;
    background-color: white;
    min-width: 30vw;
    padding: 2rem;
    border-radius: 20px;
}

.activity_list {
}

.activity {
    display: flex;
}

.activity_text {
}

.activity_time {
    color: #aaa;
    font-size: 0.8rem;
    margin-left: .3rem;
    opacity: 0;
    transition: all .3s;
}

.activity:hover > .activity_time {
    opacity: 1;
}


.libgame {
    display: block;
    background-position: center;
    background-size: cover;
    /* background: linear-gradient(180deg, rgba(15, 16, 22, 0.72) 0%, #1C1D2B 100%), url('https://d.ibtimes.co.uk/en/full/1602046/minecraft-art.jpg?w=600&e=b9208487edf12504de07b038ccad3c96');*/
    box-shadow: 0 4px 4px #000000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 8rem;
    position: relative;
    width: 60rem;
}

.libgame_info {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.libgame_company {
    color: #aaa;
}

.big-title {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 6rem;
    font-style: normal;
    font-weight: bold;
    line-height: 112px;
    text-align: center;
}

.libgame_buttons {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

    .libgame_buttons > a {
        margin: 1rem;
        padding: .5rem;
        width: 5rem;
    }

.libgame_time {
    bottom: 0;
    color: #c0c5ff;
    color: rgba(192, 197, 255, 0.47);
    left: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
    position: absolute;
}

.review {
    background: #212235;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin: .2rem;
    padding: 1rem;
}

.review_title {
    color: #fff;
    font-size: 1.2rem;
}

.review_author {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.44);
}

.review_stars {

    margin: .5rem;
}

hr {
    border: 0;
    margin: .3rem;
    background: linear-gradient(to right, red, magenta);
    height: 3px;
}

.add_review {
    line-height: 50%;
    padding: 1rem;
}

.review_box {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.review_content {
    background: #1B1C29;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.44);
    margin: .5rem;
    padding: 1rem;
}

.reviews {

    min-width: 60%;
    max-width: 80%;
    background: linear-gradient(180deg, #0F1016 0%, #1C1D2B 100%);
    display: inline-block;
    padding: 2rem;
}

.home {
    background: linear-gradient(180deg, #1D1F2F 0, rgba(34, 36, 53, 0.56) 100%), url(Images/bg2.jfif) center/cover fixed;
}

.navebsite {
    align-items: center;
    background: linear-gradient(139.25deg, rgba(255, 46, 0, 0.51) 4.98%, #FF1E61 70.62%), url(Images/bg1.jfif) center/cover fixed;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.navebsite_title {
    display: flex;
}

.navebsite_logo {
}



.navebsite_store {
    border-bottom: 3px white solid;
    color: #fff;
    font-size: 1.6rem;
    margin-top: 2rem;
}



.navebsite_subtitle {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1rem;
    line-height: 42px;
}

.home_2 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home_2_container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 70%;
}

.home_2_text {
    font-size: 1.6rem;
    height: 100%;
    margin-right: 10rem;
    text-align: center;
    width: 30%;
}

.home_2_images {
    height: 30rem;
    margin-top: 6rem;
    position: relative;
    width: 50%;
}

    .home_2_images > img {
        box-shadow: 0 0 .5rem .4rem rgba(0, 0, 0, .3);
        height: 10rem;
        object-fit: cover;
        position: absolute;
        width: 20rem;
    }

        .home_2_images > img:nth-child(3n + 1) {
            left: 0;
            top: 0;
        }

        .home_2_images > img:nth-child(3n + 2) {
            left: 5rem;
            top: 5rem;
        }

        .home_2_images > img:nth-child(3n) {
            left: 10rem;
            top: 10rem;
        }

.user {
    border-radius: 10000px;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.6);
    display: inline-block;
    height: 3rem;
    position: relative;
    width: 3rem;
}

    .user:not(:first-child) {
        margin-left: -.5rem;
    }

    .user:hover > .user_caption {
        opacity: 1;
    }

.user_caption {
    background-color: #222;
    color: #fff;
    left: 50%;
    opacity: 0;
    padding: .2rem;
    position: absolute;
    text-align: center;
    top: 3rem;
    transform: translateX(-50%);
    z-index: 3000;
}



.profile_content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.user_list {
    display: inline-block;
    padding: 1rem;
}

.user_img {
    border-radius: 10000px;
    height: 100%;
    width: 100%;
}

.profile_table > img {
    border-radius: 10000px;
    height: 4rem;
}

.rating {
    border: none;
    font-size: 2rem;
}

    .rating input[type="radio"]:not(:nth-of-type(0)) {
        /* hide visually */
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .rating [type="radio"]:not(:nth-of-type(0)) + label {
        display: none;
    }

label[for]:hover {
    cursor: pointer;
}

.rating .stars label:before {
    content: "★";
}

.stars label {
    color: lightgray;
}

    .stars label:hover {
        text-shadow: 0 0 1px #000;
    }

.rating [type="radio"]:nth-of-type(1):checked ~ .stars label:nth-of-type(-n + 1),
.rating [type="radio"]:nth-of-type(2):checked ~ .stars label:nth-of-type(-n + 2),
.rating [type="radio"]:nth-of-type(3):checked ~ .stars label:nth-of-type(-n + 3),
.rating [type="radio"]:nth-of-type(4):checked ~ .stars label:nth-of-type(-n + 4),
.rating [type="radio"]:nth-of-type(5):checked ~ .stars label:nth-of-type(-n + 5) {
    color: orange;
}

.rating [type="radio"]:nth-of-type(1):focus ~ .stars label:nth-of-type(1),
.rating [type="radio"]:nth-of-type(2):focus ~ .stars label:nth-of-type(2),
.rating [type="radio"]:nth-of-type(3):focus ~ .stars label:nth-of-type(3),
.rating [type="radio"]:nth-of-type(4):focus ~ .stars label:nth-of-type(4),
.rating [type="radio"]:nth-of-type(5):focus ~ .stars label:nth-of-type(5) {
    color: darkorange;
}

.header {
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
    margin: .5rem;
}

    .header::placeholder {
        color: #FFFFFF;

    }

.header_secondary {
    margin: 1rem;
    font-size: 1rem;

}

.input {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    padding: 5px 12px;
    font-size: 1rem;
    line-height: 20px;
    border: none;
    color: #1d1d1d;
    vertical-align: middle;
    background-color: whitesmoke;
    margin: .5rem .3rem;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border-radius: 10px;
    outline: none;
    border: 5px solid transparent;
}

    .input:focus {
        border-bottom: 5px solid #0366D6;
        outline: none;
    }


.review_form_text {
    width: 30rem;
}

.review_form {
    align-items: center;
    display: flex;
    flex-direction: column;
}


select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(favicon.ico) 96%/15% no-repeat #24273D;
    color: #fff;
    font-size: 16px;
    margin: .5rem;
    outline: none;
    padding: .5rem;
    width: 10rem;
}


    /* CAUTION: Internet Explorer hackery ahead */


    select::-ms-expand {
        display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
    }

/* Target Internet Explorer 9 to undo the custom arrow */

@media screen and (min-width: 0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}

.tuple {
    align-items: center;
    display: flex;
}

.tuple_vert {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.input_label {
    width: 7rem;
}

.image {
}

input::placeholder {
    font-family: "San Francisco";
}

textarea {
    font-family: "San Francisco";
}


.grid-container {
    height: 90vh;
}

.image_preview {
    width: 10rem;
}

.balance_value::before {
    content: '$';
}


.payment-title {
    width: 100%;
    text-align: center;
}

.form-container .field-container:first-of-type {
    grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
    grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
    grid-area: security;
}

.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container {
    position: relative;
}

.form-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px 90px;
    grid-template-areas: "name name""number number""expiration security";
    max-width: 400px;
    padding: 20px;
    color: #707070;
}

label {
    padding-bottom: 5px;
    font-size: 13px;
}



.ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.container {
    width: 100%;
    max-width: 400px;
    max-height: 251px;
    height: 54vw;
    padding: 20px;
}

#ccsingle {
    position: absolute;
    right: 15px;
    top: 20px;
}

    #ccsingle svg {
        width: 100px;
        max-height: 60px;
    }

.creditcard svg#cardfront,
.creditcard svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}

#generatecard {
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    background-color: #909090;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
    -webkit-transition: fill .5s;
    transition: fill .5s;
}

.creditcard .lightblue {
    fill: #03A9F4;
}

.creditcard .lightbluedark {
    fill: #0288D1;
}

.creditcard .red {
    fill: #ef5350;
}

.creditcard .reddark {
    fill: #d32f2f;
}

.creditcard .purple {
    fill: #ab47bc;
}

.creditcard .purpledark {
    fill: #7b1fa2;
}

.creditcard .cyan {
    fill: #26c6da;
}

.creditcard .cyandark {
    fill: #0097a7;
}

.creditcard .green {
    fill: #66bb6a;
}

.creditcard .greendark {
    fill: #388e3c;
}

.creditcard .lime {
    fill: #d4e157;
}

.creditcard .limedark {
    fill: #afb42b;
}

.creditcard .yellow {
    fill: #ffeb3b;
}

.creditcard .yellowdark {
    fill: #f9a825;
}

.creditcard .orange {
    fill: #ff9800;
}

.creditcard .orangedark {
    fill: #ef6c00;
}

.creditcard .grey {
    fill: #bdbdbd;
}

.creditcard .greydark {
    fill: #616161;
}

/* FRONT OF CARD */
#svgname {
    text-transform: uppercase;
}

#cardfront .st2 {
    fill: #FFFFFF;
}

#cardfront .st3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

#cardfront .st4 {
    font-size: 54.7817px;
}

#cardfront .st5 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardfront .st6 {
    font-size: 33.1112px;
}

#cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
}

#cardfront .st8 {
    font-size: 24px;
}

#cardfront .st9 {
    font-size: 36.5498px;
}

#cardfront .st10 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#cardfront .st11 {
    font-size: 16.1716px;
}

#cardfront .st12 {
    fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
    fill: none;
    stroke: #0F0F0F;
    stroke-miterlimit: 10;
}

#cardback .st2 {
    fill: #111111;
}

#cardback .st3 {
    fill: #F2F2F2;
}

#cardback .st4 {
    fill: #D8D2DB;
}

#cardback .st5 {
    fill: #C4C4C4;
}

#cardback .st6 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardback .st7 {
    font-size: 27px;
}

#cardback .st8 {
    opacity: 0.6;
}

#cardback .st9 {
    fill: #FFFFFF;
}

#cardback .st10 {
    font-size: 24px;
}

#cardback .st11 {
    fill: #EAEAEA;
}

#cardback .st12 {
    font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
    font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
    perspective: 1000px;
}

.creditcard {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
}

    .creditcard .front,
    .creditcard .back {
        position: absolute;
        width: 100%;
        max-width: 400px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;
        color: #47525d;
    }

    .creditcard .back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .creditcard.flipped {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }


body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

#form1 {
    min-height: 100vh;
}

.main {
    min-height: 100%;
    margin-left: 5rem;
}


.navbar {
    box-shadow: 0 0 .5rem 0rem rgba(0, 0, 0, .2);
    z-index: 1000;
    position: fixed;
    background: linear-gradient(180deg, #B82222 0%, #FF1E61 100%);
    min-width: 5rem;
    height: 100vh;
    transition: min-width 600ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: var(--transition-speed);
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.navbar:hover {
    min-width: 16rem;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-secondary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: .5s;
}
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navebsite_title_text {
        font-family: Roboto;
        font-size: 3rem;
        font-style: normal;
        font-weight: bold;
        text-align: center;
    }

        .navebsite_title_text > svg {
            width: 300px;
        }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .main {
        margin: 0;
    }


}



/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navebsite_title_text {
        font-family: Roboto;
        font-size: 10rem;
        font-style: normal;
        font-weight: bold;
        text-align: center;
    }

    .navebsite_title_text > svg {
        width: 500px;
    }

    .navbar:hover .link-text {
        display: inline;
        opacity: 1;
    }

    .navbar:hover .logo svg
    {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text
    {
        left: 0px;
    }
}

    .nav-link:hover {
        filter: grayscale(0%) opacity(1);
        background: linear-gradient(180deg, #1D1D1D 0%, #24263D 100%);
        color: var(--text-secondary);
    }

.link-text {
    display: none;
    opacity: 0;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: .5s;
}

.logo-text
{
    display: inline;
    position: absolute;
    left: -999px;
    transition: .5s;
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

:root {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --anim-length:1.5s;
    --anim-delay: .3s;
}

.anim_logo > path:nth-child(1) {
    stroke-dasharray: 635;
    stroke-dashoffset: 635;
    animation: line-anim var(--anim-length) ease forwards calc(var(--anim-delay)*1);
}
.anim_logo > path:nth-child(2) {
    stroke-dasharray: 513;
    stroke-dashoffset: 513;
    animation: line-anim var(--anim-length) ease forwards calc(var(--anim-delay)*2);
}
.anim_logo > path:nth-child(3) {
    stroke-dasharray: 486;
    stroke-dashoffset: 486;
    animation: line-anim var(--anim-length) ease forwards calc(var(--anim-delay)*3);
}
.anim_logo > path:nth-child(4) {
    stroke-dasharray: 564;
    stroke-dashoffset: 564;
    animation: line-anim var(--anim-length) ease forwards calc(var(--anim-delay)*4);
}
.anim_logo > path:nth-child(5) {
    stroke-dasharray: 610;
    stroke-dashoffset: 610;
    animation: line-anim var(--anim-length) ease forwards calc(var(--anim-delay)*5);
}
.anim_logo > path:nth-child(6) {
    stroke-dasharray: 567;
    stroke-dashoffset: 567;
    animation: line-anim var(--anim-length) ease forwards calc(var(--anim-delay)*6);
}
.anim_logo > path:nth-child(7) {
    stroke-dasharray: 269;
    stroke-dashoffset: 269;
    animation: line-anim var(--anim-length) ease forwards calc(var(--anim-delay)*7);
}

.anim_logo > path:nth-child(8) {
    stroke-dasharray: 405;
    stroke-dashoffset: 405;
    animation: line-anim var(--anim-length) ease forwards calc(var(--anim-delay)*8);
}

.anim_logo > path:nth-child(9) {
    stroke-dasharray: 564;
    stroke-dashoffset: 564;
    animation: line-anim var(--anim-length) ease forwards calc(var(--anim-delay)*9);
}

.anim_logo > path {
    stroke-linecap: square;
    visibility: hidden;
}

.navebsite_logo > svg {
    animation: logo var(--anim-length) forwards ease; 
}

@keyframes logo {
    from {
        opacity: 0;
        transform: rotate(-180deg) scale(0.5)
    }
    to {
        opacity: 1;
        transform: rotate(0) translate(0) scale(1);
    }

}

.anim_logo {
    animation-name: fill;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--anim-delay)*9 + var(--anim-length));
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}

@keyframes line-anim {
    from {
        visibility: visible;
    }
    to {
        visibility: visible;
        stroke-dashoffset: 0;
    }

}

.gameview {
    color: white;
    margin: 1rem;
    justify-content: space-between;
    background-size: cover;
    display: flex;
    padding: 1rem;
    width: 80%;
}


.gameview_info {
    display: flex;
    flex-direction: column;
}

.gameview_dev {
    color: rgba(192, 197, 255, 0.47);
}

.gameview_time {
    color: rgba(192, 197, 255, 0.47);
}

.gameview_title {
    color: white;
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1.6rem;
}

.gameview_time::before {
    content: 'Published ';
}

.user-settings {
    border-radius: 20px;
    padding: 3rem;
    min-height: 70vh;
    width: 70%;
    background: #eee;
    color: #571A1A;
}

.store_page{
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
                       "store_search store_games";
}
.store_search { grid-area: store_search; }
.store_games { grid-area: store_games; }


.sidebar {
    z-index: 100;
    position: fixed;
    right: 0;
    top: 0;
    
    width: 5rem;

}

.profile_picture_container {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    z-index: 50;
    height: 4rem;
    width: 4rem;
    border-radius: 1000px;
}

.notifications_count {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
                     background-color: red;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 1000px;
    font-size: 1rem;
}


.side_name {
    z-index: 60;
    font-size: 1rem;
    opacity: 0;
    text-align: center;
    width: 5rem;
    right: 1rem;
    top: 6rem;
    position: absolute;
    transition: opacity .3s;
}

.profile:hover > .side_name {
    opacity: 1;
}

.profile_picture {
    border-radius: 1000px;
    width: 100%;
    margin: auto;
}

.side_content {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 40;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(153.51deg, #0E1831 2.43%, #101436 124.95%);
    visibility: hidden;
    position: absolute;
    width: 10rem;
    top: -10rem;
    right: 0;
    padding-right: 5rem;
    transition: top .3s;
    padding-left: .4rem;
    padding-top: .4rem;
    padding-bottom: .6rem;
}

.side_content > a {
    width: 50%;
    margin: .3rem;
}

.profile:hover > .side_content {
    top: 0;
    visibility: visible;
}

.bold {
    font-weight: bold;
}
input[type='checkbox'],
input[type='radio'] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
}

    input[type='checkbox']:after,
    input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    input[type='checkbox']:checked,
    input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }

    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
    }

        input[type='checkbox']:disabled:checked,
        input[type='radio']:disabled:checked {
            --b: var(--disabled-inner);
            --bc: var(--border);
        }

        input[type='checkbox']:disabled + label,
        input[type='radio']:disabled + label {
            cursor: not-allowed;
        }

    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }

    input[type='checkbox']:focus,
    input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }

    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
        width: 21px;
    }

        input[type='checkbox']:not(.switch):after,
        input[type='radio']:not(.switch):after {
            opacity: var(--o, 0);
        }

        input[type='checkbox']:not(.switch):checked,
        input[type='radio']:not(.switch):checked {
            --o: 1;
        }

    input[type='checkbox'] + label,
    input[type='radio'] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type='checkbox']:not(.switch) {
        border-radius: 7px;
    }

        input[type='checkbox']:not(.switch):after {
            width: 5px;
            height: 9px;
            border: 2px solid var(--active-inner);
            border-top: 0;
            border-left: 0;
            left: 7px;
            top: 4px;
            transform: rotate(var(--r,20deg));
        }

        input[type='checkbox']:not(.switch):checked {
            --r: 43deg;
        }

    input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }

        input[type='checkbox'].switch:after {
            left: 2px;
            top: 2px;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background: var(--ab, var(--border));
            transform: translateX(var(--x, 0));
        }

        input[type='checkbox'].switch:checked {
            --ab: var(--active-inner);
            --x: 17px;
        }

        input[type='checkbox'].switch:disabled:not(:checked):after {
            opacity: .6;
        }

input[type='radio'] {
    border-radius: 50%;
}

    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
    }

    input[type='radio']:checked {
        --s: .5;
    }


@keyframes scaleAnimation {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes drawCircle {
    0% {
        stroke-dashoffset: 151px;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes drawCheck {
    0% {
        stroke-dashoffset: 36px;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#successAnimationCircle {
    stroke-dasharray: 151px 151px;
    stroke: #FFF;
}

#successAnimationCheck {
    stroke-dasharray: 36px 36px;
    stroke: #FFF;
}

#successAnimationResult {
    fill: #FFF;
    opacity: 0;
}

#successAnimation.animated {
    animation: 1s ease-out 0s 1 both scaleAnimation;
}

#successAnimation.animated #successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
}

#successAnimation.animated #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
}

#successAnimation.animated #successAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
}

.full-center {
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.centering {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}



.centering_vert {
    height: 100%;
    justify-content: center;
    margin: auto;
}

.key_label {
    font-size: 1.6rem;
    background-color: white;
    color: black;
    text-transform: uppercase;
}

.f04_main {
    background-image: linear-gradient(137.15deg, rgba(45, 12, 78, 0.81) -27.17%, rgba(17, 24, 85, 0.81) 126.79%), url(./Images/shavit.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.f04_text {
    z-index: 1000;
    margin: 3rem;
}
.f04_header {
    margin-bottom: -3rem;
    font-size: 30rem;
}
.f04_subtext {
    font-size: 2rem;
}

.f04_amogus {
    z-index: 500;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 40%;
    height: 10%;
    animation-name: amogusAnimation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

@keyframes amogusAnimation {
    0% {
        z-index: 1500;
    }
    50% {
        z-index: 700;
        transform: rotate(10deg) translate(-50%,-50%);
        top: 60%;
        left: 60%;
    }
    100% {
        z-index: 1500;
    }
}

.settings {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hidden {
    display: none;
}

.selected {
    background: #eee !important;
}

.setting_tab_list {
    width: 30%;
}

.settings_tab:hover {
    color: black;
    background: #eee;
}

.settings_tab {
    padding: 1rem;
    margin: 1rem;
    margin-right: 0rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    background: white;
    
}

.settings_tab-desc {
    margin: 1rem;
}

.settings_tab-header {
    font-weight: 600;
    
}

.chart {
    width: 30%;
}

.Wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Base {
    background: #ccc;
    height: 200px;
    width: 300px;
    border-radius: 15px;
}

.Inner-wrap {
    background-color: #0c0014;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%230d1838' points='1600%2C160 0%2C460 0%2C350 1600%2C50'/%3E%3Cpolygon fill='%230e315d' points='1600%2C260 0%2C560 0%2C450 1600%2C150'/%3E%3Cpolygon fill='%230f4981' points='1600%2C360 0%2C660 0%2C550 1600%2C250'/%3E%3Cpolygon fill='%231062a6' points='1600%2C460 0%2C760 0%2C650 1600%2C350'/%3E%3Cpolygon fill='%23117aca' points='1600%2C800 0%2C800 0%2C750 1600%2C450'/%3E%3C/g%3E%3C/svg%3E");
    background-size: auto 147%;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 13px;
    padding: 20px 40px;
    box-sizing: border-box;
    color: #fff;
}

/* Controls top right logo */

.Logo {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 0;
    top: 0;
    padding: inherit;
    fill: #117aca;
}

/* Controls chip icon */

.Chip {
    height: 40px;
    margin: 20px 0 15px 0;
}

.gold path {
    fill: url(#gold-gradient);
}

svg {
    display: block;
}

/* Controls name size */

.Logo-name {
    transform: scale(.5);
    margin-left: -75px;
}

.Card-number p {
    text-align: center;
}

.Card-number {
    margin-top: -25px;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.9);
}

#first-li {
    margin-left: 0;
}

#last-li {
    margin-right: 0;
}

.Expire {
    font-size: .75em;
    text-align: center;
}

    .Expire h4 {
        font-weight: 400;
        color: #aaa;
        margin: 0;
        /*   word-spacing: 9999999px; */
        text-transform: uppercase;
    }

    .Expire p {
        font-size: 1.55em;
        color: rgba(255, 255, 255, 0.9);
    }

.Name h3 {
    position: absolute;
    bottom: 0;
    left: 18%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.35em;
    color: rgba(255, 255, 255, 0.85);
}

.Visa {
    width: 50px;
    position: absolute;
    bottom: -145px;
    right: 0;
    padding: inherit;
}

.balance {
    font-size: 4rem;
    text-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.3);
}